.input {
  padding: 1rem;
  margin: 10px;
  border-radius: 10px;
  color: whitesmoke;

  input {
    border: none;
    border-radius: 6px;
    background-color: rgb(68, 67, 67);
    color: yellow;
    box-shadow: 5px 5px #0c0115;
  }
}
